html {
    font-size: 62.5%;
    --color1: rgb(211, 180, 2);
    --second-theme-color: #bd9204;
    --color2: white;
    --content1: #f7f4f4;
}

.navigation ul li .active1 {
    background-color: var(--color1);
}

.navigation ul li .active2 {
    background-color: var(--second-theme-color);
}

.navigation ul li .active3 {
    background-color: var(--color1);
}

.navigation ul li .active4 {
    background-color: var(--color1);
}

.navigation ul li .active5 {
    background-color: var(--color1);
}


.contents {
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-top: calc(50vh - 25rem);
}

.contents .body-segment {
    width: 50rem;
    height: fit-content;
    background-color: var(--content1);
    margin: 0 auto;
}

.body-segment .details {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 2rem;
    margin: 0 auto;
}

.details .acc-pic {
    height: 18rem;
    width: 18rem;
    background-color: var(--content1);
}

.details .acc-pic img {
    height: 18rem;
    width: 18rem;
}

.details form {
    height: fit-content\;
}

.details form input {
    margin-left: calc(50% - 10rem);
}

.details a {
    color: blue;
}

.details .form-entry {
    background-color: var(--second-theme-color);
    padding: 0.8rem 3rem;
    width: fit-content;
    border-radius: 3rem;
    margin: 0 auto;
    transition: .25s;
}

.details .form-entry:hover {
    padding: 0.8rem 4rem;
}

.details .info {
    width: 90%;
    height: 4rem;
    background-color: var(--content1);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.1rem rgba(128, 128, 128, 0.384);
    padding: 1rem 1.5rem;
}

.details .info p{
    font-family: Arima;
    font-weight: 500;
}